/* line 1, ../_sass/style.scss */
body {
  margin: 0;
  font-family: 'Minion Pro';
  font-size: 1em;
}

/* line 10, ../_sass/style.scss */
.cover {
  width: 100%;
  height: 100%;
  height: 100vh;
  display: table;
  background: #222222 url("../img/cover.jpg") 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 21, ../_sass/style.scss */
.cover div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
/* line 32, ../_sass/style.scss */
.cover img {
  width: 125px;
  height: auto;
}
/* line 39, ../_sass/style.scss */
.cover h1 {
  margin: .5em 2em;
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .25em;
}
/* line 51, ../_sass/style.scss */
.cover p {
  margin: 0;
  color: #ccc;
  font-size: 1.125em;
  font-style: italic;
  letter-spacing: .075em;
}
