@import "compass";

$tablet: 40em;
$desktop: 80em;
$wide: 100em;

$white: #fff;
$aux: #ffc;

$serif: 'athelas', 'Minion Pro', Georgia, Times, Serif;;
$sans: 'franklin-gothic-urw', 'Proxima Nova', Helvetica, 'Helvetica Neue', Arial, sans;