.cover {

	width: 100%;
	height: 100%;
	height: 100vh;

	display: table;
	background: #222 url('../img/cover.jpg') 50% 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

	& div {		

		display: table-cell;
		vertical-align: middle;
		text-align: center;
		
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-smoothing: antialiased;

	}

	& img {

		width: 125px;
		height: auto;

		@media screen and (min-width: $tablet) {

			width: 191px;

		}

	}

	& h1 {

		margin: .5em 2em;

		color: #fff;
		letter-spacing: .25em;

	}

	& p {

		margin: 0;
		
		color: #ccc;
		font-size: 1.125em;
		font-style: italic; 
		letter-spacing: .065em;

		@media screen and (min-width: $tablet) {

			font-size: 1.45em;

		}

	}

	& p.cover-navigation {

		margin: 2.5em 0 0;

		font-size: 1.071em;
		font-style: normal;
		letter-spacing: .05em;
		color: #666;

		@media (min-width: $tablet) {
			font-size: 1.275em;
		}

		& span {

			display: inline-block;
			margin: 0 .625em;

		}

		& a, & a:visited {

			color: #888;

		}

		& a:hover {

			color: #fff;

		}

	}

}

